td {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}

.minefield {
  border: 1px solid black;
}

.covered {
  background-color: darkgrey;
  color: grey;
}

.uncovered {
  background-color: lightgrey;
}

.fa-flag {
  color: black;
}

.fa-bomb {
  color: darkred;
}

.minebutton {
  width: 32px;
  height: 32px;
}
