td {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}

.minefield {
  border: 1px solid black;
}

.covered {
  background-color: grey;
  color: grey;
}

.uncovered {
  background-color: lightgrey;
}

span.minecell.covered {
  visibility: hidden;
}

span.minecell.uncovered {
  visibility: visible;
}

.minecell-9.uncovered {
  background-color: red;
}

.flagged {
  background-color: blue;
}
