.minefield {
  border: 1px solid black;
}

.minefield td {
  padding: 10px;
}

.covered {
  background-color: grey;
  color: grey;
}

.uncovered {
  background-color: white;
}

.minecell-9.uncovered {
  background-color: red;
}

.flagged {
  background-color: blue;
}
